/TailsDashboard/.idea
/C&CServerBackend/.idea
/C&CServerBackend/tinydb
/WindowsTools/.idea
/WindowsTools/WindowsTools/bin/
/WindowsTools/WindowsTools/obj/
/Installer/Installer/obj/
/Installer/Installer/bin/
/Installer/.vs/
/windows_tools/.idea
/windows_tools/target